<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayEasy</title>
    <style>
        body {
            text-align: center;
            background-color: aliceblue;
        }
        input {
            border: 1px solid green;
            border-radius: 10px;
        }
        h2 {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h2>Edit Listing</h2>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PATCH">
        <input name="title" type="text" value="<%=listing.title%>"" > <br><br>
        <textarea name="description" rows="7" cols="25"> <%=listing.description%> </textarea> <br><br>
        <input name="image" type="text" value=<%=listing.image%> > <br><br>
        <input name="price" type="number" value=<%=listing.price%> > <br><br>
        <input name="location" type="text" value="<%=listing.location%>" > <br><br>
        <input name="country"f type="text" value="<%=listing.country%>"" > <br><br>
        <button>Submit</button>
    </form>
</body>
</html>