<% layout("/layouts/boilerplate.ejs") -%>
    <style>
        .card :hover {
            transform: none;
        }
        .btns {
            display:flex;
        }
        form {
            margin:2px;
        }
    </style>
</head>
<body>
    <br>
    <div class="content_index">
        <div class="row">

            <div class="col-6f">
                <h3> <%=listing.title%> </h3>
            </div>


            <div class="card col-6">
                <div class="card-body">
                    
                </div>
                <img src=<%=listing.image.url%> class="card-img-top show-img">
                <div class="card-body">
                    <div>
                        <i>Hosted by <%=listing.owner.username%></i>
                    </div>
                    <b><%=listing.description%></b> <br>
                    <b><%=listing.price.toLocaleString("en-IN")%>/night</b><br>
                    <b><%=listing.location%></b> <br>
                    <b><%=listing.country%></b> <br>
                    <br>
                    
                </div>
            </div>

                <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
                    <div class="btns col-6 mb-3">
                        <form method="GET" action="/listings/<%=listing._id%>/edit">
                            <button class="btn btn-warning edit-btn mt-1"> <i class="fa-regular fa-pen-to-square"></i> </button>
                        </form>
        
                        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                            <button class="btn btn-danger delete-btn"> <i class="fa-regular fa-trash-can"></i> </button>    
                        </form>
                        <br>
                    </div>
                <% } %>

                <!-- Reviews Form -->

                <% if (currUser) { %>    
                    <hr>
                    
                    <div class="col-8 offset-2">
                    <h4>Leave Your Thoughts</h4>

                        <form method="POST" action="/listings/ <%= listing._id %> /reviews" novalidate class="needs-validation">
                            <div class="mt-4 mb-1">
                                <label for="rating" class="form-label">Rating</label>
                                <!-- <input type="range" name="rating" min="1" max="5" class="form-control form-range"> -->
                                <fieldset class="starability-slot">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="rating" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="rating" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="rating" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="rating" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="rating" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                  </fieldset>
                            </div>

                            

                                
                            <div class="mt-1 mb-3">
                                <label for="comment" class="form-label">Comments</label>
                                <textarea placeholder="Add your comments.." rows="10" cols="50" name="comment" class="form-control" required></textarea>
                                <div class="valid-feedback">Looks Good!</div>
                                <div class="invalid-feedback">Enter Valid Comment</div>
                            </div>
                                
                            <div class="mt-2 mb-3">
                                <button class="btn btn-success">Submit</button>
                            </div>
                        </form>
                
                    </div>
                <% } %>
            <hr>

            <!-- To Render Reviews -->

            <%if(listing.reviews.length) { %>
                <h3>All Reviews</h3>
                <div class="row">
                    <% for(review of listing.reviews) { %>
                        <div class="card col-5 ms-3 review-card">
                            <div class="card-body mt-2 mb-2">
                                <div class="revStars d-flex">
                                    <h5 class="card-title mt-2"> @<%=review.author.username%> </h5>
                                    <div class="stars ms-auto mt-1">
                                        <p class="starability-result" data-rating=<%=review.rating%>></p>
                                    </div>
                                    <p><%=review.title%></p>
                                </div>

                                <p class="card-text"> <%=review.comment%> </p>

                                <% if (currUser && review.author._id.equals(currUser._id)) { %>
                                    <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
                                        class="review-btns">
                                        <button class="btn btn-danger"> <i class="fa-regular fa-trash-can"></i> </button>
                                    </form>
                                <% } %>

                                
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>


        </div>
    </div>
</body>
</html>

